* {
  box-sizing: border-box;
}

.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  padding: 10rem 0;
  gap: 2rem;
}

.calculator {
  padding: 5rem;
}

.outline {
  outline: #282c34 solid 1px;
}

.line-through {
  text-decoration: line-through;
  color: #686868;
}

.shadow {
  box-shadow: 5px 5px 0 #68686869;
}

.box {
  padding: 1rem;
  max-width: 500px;
  min-width: 300px;
}